html
    body
        div
            h1 Welcome to the course page 
            h2 Please login
            a(href="login")
                button(type="button") Login
            h2 Don't have an account,just signup!            
            a(href="signup")
                button(type="button") Sign Up